/* common styles */

* {
  margin: 0;
  padding: 0;
  font-family: "Jost", sans-serif;
  font-weight: 400;
  text-decoration: none;
  box-sizing: border-box;
  list-style-type: none;
  outline: none;
}

body {
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sticky {
  position: fixed;
  top: 0;
}

.container {
  position: relative;
}

.section_heading {
  font-size: 5rem;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  margin-bottom: 10rem;
  border-bottom: 0.3rem solid #333;
  text-shadow: 0.2rem 0.2rem 0.5rem #555;
}

.clouds-container {
  position: absolute;
  bottom: 15px;
  display: flex;
  justify-content: center;
}

.cloud-container-1 {
  /* position: absolute; */
  bottom: 14px;
  opacity: 0.7;
  left: 0;
  width: 100%;
  height: 120px; /* Set a height for the container */
  overflow: hidden;
}

.cloud-container-2 {
  position: absolute;
  bottom: 39px;
  opacity: 0.4;
  left: 0;
  width: 100%;
  height: 120px; /* Set a height for the container */
  overflow: hidden;
}

/* .filler {
  position: absolute;
  width: 15px;
  bottom: 0;
  background: white;
} */

.cloud-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px; /* Set a height for the container */
  /* overflow: hidden; */
}

.cloud {
  display: flex;
  animation: moveCloud 20s linear infinite;
}

.cloud img {
  width: 100%; /* Set image width to 100% */
  height: auto;
}

@keyframes moveCloud {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* end of common styles */

.intro {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.section-1_wrapper {
  background-color: white;
  height: 100%;
}

.section-1_1 {
  width: 100%;
  height: 100vh;
  /* background: rgb(
    206,
    225,
    232
  );  */
  /*                 --------------------            */
  background-image: url("./imgs/sky2.avif");
  background-size: cover;
  background-position: center;

  flex-direction: column;
  display: flex;
  justify-content: center;
}
.section-1_darktheme {
  position: absolute;
  background-image: url("./imgs/stars.png");
  background-size: cover;
  background-position: center;
}

.section-1_1 {
  position: relative;
  width: 100%;
  height: 100vh;
  /* background: rgb(
    206,
    225,
    232
  );  
                  /* --------------------            */
  background-image: url("./imgs/sky2.avif");
  background-size: cover;
  background-position: center;

  flex-direction: column;
  display: flex;
  justify-content: center;
}

.profile_pic {
  position: relative;
  z-index: 200; /* Ensure the profile_pic is on top */
}

.profile_pic img {
  animation: shadow_blink 3s linear infinite;
}

@keyframes shadow_blink {
  0%,
  100% {
    box-shadow: 0 0 30px 2px white;
  }
  50% {
    box-shadow: 0 0 5px 1px white;
  }
}

.section-1_1::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url("./imgs/stars.png") center/cover no-repeat; /* Replace with the path to your second image */

  animation: moveBackground 58s linear infinite; /* Adjust animation duration as needed */
  z-index: 1;
}

@keyframes moveBackground {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.section-1 {
  width: 100%;
  height: 100vh;
  background: rgb(
    206,
    225,
    232
  ); /*                 --------------------            */

  flex-direction: column;
  display: flex;
  justify-content: center;
}

.section-1_heading1 {
  font-size: 4rem;
  color: white;
  /* font-weight:; */
}

.section-1_info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 2rem;
  color: white;
}

.section-1_user_info {
  display: flex;
  flex-direction: column;
}

.section-1_headings {
  /* margin-top: -5rem; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
  text-align: center;
}

.section-1_heading {
  font-size: 6rem;
  font-weight: 700;
  color: white;
  background-color: rgb(79, 162, 162);
  padding: 0 3rem;
  /* margin-top: 0.7rem; */

  text-transform: uppercase;
  letter-spacing: 1rem;
  border-bottom: 0.3rem solid white;
  text-shadow: 0.2rem 0.2rem 1rem #555;
  border-radius: 0.7rem;
  /* transform: skew(-10deg); */
}

.person_img {
  width: 25rem;
  height: 25rem;
  object-fit: cover;
  border-radius: 0.7rem;
  border: 0.7rem solid white;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 0.5rem;
  opacity: 0.9;
}

.person_name {
  font-size: 2rem;
  color: white;
  background-color: rgb(79, 162, 162);
  margin: 3rem 0;
  padding: 0.5rem 3rem;
  letter-spacing: 0.3rem;
  border-radius: 0.7rem;
  /* transform: skew(-10deg); */
}

/* .person_name1 {
  font-size: 2rem;
  color: white;
  width: 80vw;
  height: 3.5rem;
  background-color: rgb(79, 162, 162);
  margin: 3rem 0 0;
  display: flex;
  justify-content: center;
  padding: 0.5rem 3rem;
  letter-spacing: 0.3rem;
  border-radius: 0.7rem;
  position: relative;
  transform: skew(-10deg);
} */
/* .person_name1_style {
  font-size: 2rem;
  color: white;
  width: 6rem;
  height: 6rem;
  top: 91%;
  background-color: rgb(79, 162, 162);
  margin: 0;
  padding: 2rem;
  padding-bottom: 0;
  margin: 0 0 3rem;
  border-radius: 50%;
  position: absolute;
} */

.switch {
  position: relative;
  display: block;
  vertical-align: top;
  width: 100px;
  height: 30px;
  padding: 3px;
  margin: 0 10px 10px 0;
  background: linear-gradient(to bottom, #eeeeee, #ffffff 25px);
  background-image: -webkit-linear-gradient(top, #eeeeee, #ffffff 25px);
  border-radius: 18px;
  box-shadow: inset 0 -1px white, inset 0 1px 1px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  box-sizing: content-box;
}
.switch-input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  box-sizing: content-box;
}
.switch-label {
  position: relative;
  display: block;
  height: inherit;
  font-size: 10px;
  text-transform: uppercase;
  background: #eceeef;
  border-radius: inherit;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12),
    inset 0 0 2px rgba(0, 0, 0, 0.15);
  box-sizing: content-box;
}
.switch-label:before,
.switch-label:after {
  position: absolute;
  top: 50%;
  margin-top: -0.5em;
  line-height: 1;
  -webkit-transition: inherit;
  -moz-transition: inherit;
  -o-transition: inherit;
  transition: inherit;
  box-sizing: content-box;
}
.switch-label:before {
  content: attr(data-off);
  right: 11px;
  color: #aaaaaa;
  text-shadow: 0 1px rgba(255, 255, 255, 0.5);
}
.switch-label:after {
  content: attr(data-on);
  left: 11px;
  color: #ffffff;
  text-shadow: 0 1px rgba(0, 0, 0, 0.2);
  opacity: 0;
}
.switch-input:checked ~ .switch-label {
  background: #e1b42b;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15),
    inset 0 0 3px rgba(0, 0, 0, 0.2);
}
.switch-input:checked ~ .switch-label:before {
  opacity: 0;
}
.switch-input:checked ~ .switch-label:after {
  opacity: 1;
}
.switch-handle {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 28px;
  height: 28px;
  background: linear-gradient(to bottom, #ffffff 40%, #f0f0f0);
  background-image: -webkit-linear-gradient(top, #ffffff 40%, #f0f0f0);
  border-radius: 100%;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}
.switch-handle:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -6px 0 0 -6px;
  width: 12px;
  height: 12px;
  background: linear-gradient(to bottom, #eeeeee, #ffffff);
  background-image: -webkit-linear-gradient(top, #eeeeee, #ffffff);
  border-radius: 6px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.02);
}
.switch-input:checked ~ .switch-handle {
  left: 74px;
  box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);
}

/* Transition
========================== */
.switch-label,
.switch-handle {
  transition: All 0.3s ease;
  -webkit-transition: All 0.3s ease;
  -moz-transition: All 0.3s ease;
  -o-transition: All 0.3s ease;
}

.section-1_projects {
  font-size: 1.7rem;
  font-weight: 700;
  color: #333;
  background-color: #fff;
  border: 0.3rem solid #333;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  border-radius: 0.7rem;
}
/* End of Section-1 */
/* .navwrapper {
  display: flex;
} */

.navbar-1 {
  height: 50vh;
  width: 80px;
  background-color: #333;
  position: fixed;
  margin-right: 10px;
  right: 0;
  top: 20%;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0.2rem 0.2rem 0.5rem #555;
  border-radius: 8px;
}

.navbar_link_1 {
  padding: 15px;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  width: 100%;
  box-sizing: border-box;
  display: block;
}

/* navbar */
.navbar {
  position: fixed;
  width: 100%;
  height: 4rem;
  /* background-color: rgb(79, 162, 162); */
  background-color: white;
  box-shadow: 0.2rem 0.2rem 0.5rem #555;
  /* position: absolute; */
  z-index: 300;
  box-shadow: 0 0 20px 5px white;
}

.navbar_link {
  font-size: 1.7rem;
  font-weight: 600;
  color: #333;
  margin: 0 3rem;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  transition: color 0.2s;
  position: relative;
}

.navbar_link:hover {
  color: white;
  /* color: black; */
}

.change.navbar_link {
  color: white;
}

.navbar_link::before {
  content: "";
  width: 0;
  height: 0.2rem;
  background-color: #fff;
  position: absolute;
  bottom: -0.3rem;
  right: -15%;
  transition: width 0.2s;
}

.change.navbar_link::before {
  width: 130%;
}
.navbar_link:hover::before {
  width: 130%;
}
/* end of navbar */

/* section-2 */
.section-2 {
  width: 100%;
  height: 100%;
  padding: 10rem 0 10rem 0;
  /* background-color: lightblue; */
  background-color: white;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.section-6 {
  width: 100%;
  height: 100%;
  padding: 8rem 0 10rem 0;
  /* background-color: white; */
  background-color: #eef;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-7 {
  width: 100%;
  height: 100%;
  padding: 8rem 0 10rem 0;
  /* background-color: #eef; */
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-7_about-me {
  width: 60rem;
  font-size: 1.9rem;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.about-me {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.about-me_education {
  width: 60rem;
  font-size: 1.9rem;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 14px;
}

.about-me_line {
  width: 60rem;
  height: 3px;
  background: gray;
  margin: 2rem;
}

.progress_bars_wrapper {
  margin-bottom: 10rem;
}

.progress_bar {
  width: 60rem;
  height: 3rem;
  background-color: #eeeeee;
  margin: 1.5rem 0;
  border-radius: 0.3rem;
  box-shadow: 0.2rem 0.2rem 1rem #555;
  position: relative;
}

.progress_bar_text {
  position: absolute;
  left: 1rem;
  font-size: 1.5rem;
  color: white;
}

.progress_bar_text span {
  margin: 0 0.5rem;
  font-size: 1.8rem;
  font-weight: 700;
}

.progress_bar_percent {
  width: 0;
  height: 100%;
  /* background-color: rgb(79, 162, 162); */
  background-color: rgb(79, 162, 162);
  border-radius: 0.3rem;
  transition: width 0.5s 0.5s ease-in-out;
}

.services {
  width: 100%;
  height: 30vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.service {
  text-align: center;
}

.service:first-child,
.service:last-child {
  align-self: flex-start;
}

.service i {
  font-size: 10rem;
  color: #eeeeee;
  margin-bottom: 2rem;
  text-shadow: 0.1rem 0.1rem 0.5rem #555;
}

.service h2 {
  font-size: 2rem;
  color: white;
  background-color: rgb(79, 162, 162);
  width: 25rem;
  letter-spacing: 0.3rem;
  /* transform: skew(-10deg); */
  box-shadow: 0.2rem 0.2rem 0.5rem #555;
}

/* end of section-2 */

/* section-3 */

.section-3 {
  width: 100%;
  height: 100%;
  padding: 10rem 0;
  background-color: #eef;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects_wrapper {
  width: 80%;
  flex-wrap: wrap;
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  background-color: #fff;
  box-shadow: 0.3rem 0.3rem 0.5rem #777;
  position: relative;
  overflow: hidden;
  transition: box-shadow 0.5s;
}

.project:hover {
  box-shadow: 1rem 1rem 1rem #777;
}

.project_text {
  text-align: center;
  letter-spacing: 0.1rem;
  position: absolute;
  top: -10rem;
  z-index: 10;
  transition: top 0.3s;
}

.project:hover .project_text {
  top: 5rem;
  transition: top 0.3s 0.3s;
}

.project_name {
  font-size: 3rem;
  font-weight: 700;
  color: #333;
  text-transform: capitalize;
}

.project_technologies {
  font-size: 1.8rem;
  color: rgb(79, 162, 162);
}

.project_img {
  width: 42rem;
  height: 27rem;
  transition: opacity 0.3s;
}

.project:hover .project_img {
  opacity: 0.2;
}

.project_link {
  font-size: 2rem;
  font-weight: 500;
  color: #333;
  letter-spacing: 0.1rem;
  border: 0.3rem solid rgb(79, 162, 162);
  padding: 0.1rem;
  position: absolute;
  bottom: -5rem;
  transition: bottom 0.3s;
}

.project:hover .project_link {
  bottom: 5rem;
  transition: bottom 0.3s 0.3s;
}

/* end of section-3 */

/* section-4 */

.section-4 {
  width: 100%;
  height: 70vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.section-4_heading {
  color: black;
  box-shadow: none;
  border-color: black;
  margin-bottom: 5rem;
}

.contact-form {
  width: 50rem;
  flex-direction: column;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 0.5rem;
  margin: 0.5rem 0;
  background-color: #eef;
  font-size: 1.5rem;
  border: 0.2rem solid rgb(79, 162, 162);
  color: #555;
}

.contact-form textarea {
  height: 10rem;
  max-height: 15rem;
  max-width: 100%;
}

.contact-form .contact-form_btn {
  background-color: rgb(79, 162, 162);
  color: white;
  text-transform: uppercase;
  letter-spacing: 1rem;
  cursor: pointer;
}

/* end of section-4 */

/* section-5 */

.section-5 {
  width: 100%;
  height: 30vh;
  background-color: black;
  flex-direction: column;
}

.social-media {
  margin-bottom: 5rem;
}

.social-media_link {
  margin: 0 2rem;
  padding: 0.7rem;
  background-color: black;
  border-radius: 0.5rem;
  display: inline-block;
}

.social-media_link i {
  font-size: 3rem;
  color: white;
}

.copyright {
  color: white;
  font-size: 2rem;
  letter-spacing: 0.2rem;
  font-weight: 300;
  text-align: center;
}

/* end of section-5 */

@media (max-width: 1200px) {
  .services {
    height: auto;
    flex-wrap: wrap;
  }

  .service {
    margin: 3rem 2rem;
  }

  .section-4 {
    height: 80vh;
  }
}

@media (max-width: 800px) {
  html {
    max-width: 800px;
  }
  html {
    font-size: 45%;
  }
  .section-1_heading1 {
    font-size: 3rem;
  }
  .progress_bar {
    width: 50rem;
  }
  .section-1_headings {
    flex-wrap: wrap;
  }
}

@media (max-width: 600px) {
  html {
    max-width: 600px;
  }
  html {
    font-size: 45%;
  }
  .section-1_heading1 {
    font-size: 2rem;
  }
  .intro {
    flex-direction: column;
  }

  .section-1_headings {
    flex-wrap: wrap;
  }

  .navbar_link {
    margin: 0 2rem;
    font-size: 1.5rem;
  }

  .section-2 {
    padding: 10rem;
    width: 600px;
  }

  .section-6 {
    padding: 10rem;
    flex-wrap: wrap;
  }

  .section-7 {
    padding: 10rem;
    flex-wrap: wrap;
  }

  .section-2_heading {
    margin-bottom: 10rem;
  }

  .section-6_heading {
    margin-bottom: 10rem;
  }

  .section-7_heading {
    margin-bottom: 10rem;
  }

  .progress_bar {
    width: 45rem;
  }

  .project_img {
    width: 100%;
  }

  .contact-form {
    width: 40rem;
  }

  .copyright {
    width: 70%;
  }
}

@media (max-width: 500px) {
  html {
    max-width: 500px;
  }
  html {
    font-size: 45%;
  }
}

@media (max-width: 450px) {
  html {
    max-width: 450px;
  }
  html {
    font-size: 25%;
  }

  .intro {
    flex-direction: column;
  }

  .section-1_heading1 {
    font-size: 2.5rem;
  }

  .about-me {
    font-size: 0.5rem;
  }

  .navbar_link {
    margin: 0 1.5rem;
  }

  .section-2 {
    width: 450px;
  }

  .section-2_heading {
    text-align: center;
  }

  .section-6_heading {
    text-align: center;
    flex-wrap: wrap;
  }

  .section-7_heading {
    text-align: center;
    flex-wrap: wrap;
  }

  .progress_bar {
    width: 40rem;
  }
}

.nav_1 {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
}

.navigation {
  position: fixed;
  margin-top: 10px;
  /* right: 550px; */
  width: 470px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  z-index: 30;
}

.navigation ul {
  position: relative;
  display: flex;
  width: 420px;
}

.navigation ul li {
  position: relative;
  list-style: none;
  width: 70px;
  height: 70px;
  z-index: 1;
}

.navigation ul li a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  font-weight: 500;
}

.navigation ul li.s1 a .icon {
  position: relative;
  display: block;
  font-size: 2em;
  line-height: 75px;
  transition: 0.5s;
  color: rgba(255, 255, 255, 0.5);
  /* color: #333; */
  /* color: white; */
}

.navigation ul li.s1:hover a .icon {
  color: rgba(255, 255, 255, 1);
}

.navigation ul li.s2 a .icon {
  position: relative;
  display: block;
  font-size: 2em;
  line-height: 75px;
  transition: 0.5s;
  color: gray;
  /* color: white; */
}

.navigation ul li.s2:hover a .icon {
  color: #333;
}

.navigation ul li.active a .icon {
  transform: translateY(-8px);
  color: #29fd53;
}

.navigation ul li a .text {
  position: absolute;
  opacity: 0;
  font-weight: 600;
  font-size: 0.5em;
  color: #222327;
  /* color: black; */
  /* color: white; */
  transition: 0.5s;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  transform: translateY(0px);
}

.navigation ul li.active a .text {
  transform: translateY(13px);
  opacity: 1;
}

.indicator {
  position: absolute;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.indicator::before {
  content: "";
  position: absolute;
  bottom: 13px;
  width: 80%;
  height: 14px;
  background: #29fd53;
  border-radius: 10px;
}

.indicator::after {
  content: "";
  position: absolute;
  top: -3px;
  width: 7.5px;
  height: 7.5px;
  border-radius: 50%;
  background: #333;
  box-shadow: 0 0 0 2px #29fd53, 50px 50px #29fd53, 40px 0 #29fd53,
    0 40px #29fd53;
  transform: rotate(45deg);
  animation: animate 2s ease-in-out infinite;
}

@keyframes animate {
  0%,
  100% {
    transform: rotate(35deg);
  }
  50% {
    transform: rotate(55deg);
  }
}

.navigation ul li:nth-child(2).active ~ .indicator {
  transform: translateX(calc(70px * 1));
}

.navigation ul li:nth-child(3).active ~ .indicator {
  transform: translateX(calc(70px * 2));
}

.navigation ul li:nth-child(4).active ~ .indicator {
  transform: translateX(calc(70px * 3));
}

.navigation ul li:nth-child(5).active ~ .indicator {
  transform: translateX(calc(70px * 4));
}

.navigation ul li:nth-child(6).active ~ .indicator {
  transform: translateX(calc(70px * 5));
}

.container_for_name {
  /* height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.container_for_name p {
  font-size: 3rem;
  padding: 0.5rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-align: center;
  overflow: hidden;
}
.container_for_name p span.typed-text {
  font-weight: normal;
  color: #dd7732;
}
.container_for_name p span.cursor {
  display: inline-block;
  background-color: #ccc;
  margin-left: 0.1rem;
  width: 3px;
  animation: blink 1s infinite;
}
.container_for_name p span.cursor.typing {
  animation: none;
}
@keyframes blink {
  0% {
    background-color: #ccc;
  }
  49% {
    background-color: #ccc;
  }
  50% {
    background-color: transparent;
  }
  99% {
    background-color: transparent;
  }
  100% {
    background-color: #ccc;
  }
}

.skills_wrapper {
  position: relative;
  display: flex;
  /* position: relative; */
  width: 50%;
  /* background-color: black; */
  flex-direction: column;
}

.skill_class {
  margin: 10px 0;
  /* width: 100%; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* align-items: center; */
  /* background-color: gray; */
}

.skill_class h2 {
  font-size: 2rem;
  width: 200px;
  /* margin-right: 200px; */
  /* background-color: gray; */
}

.skill i {
  font-size: 100px;
  /* background-color: gray; */
}

.skill {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  /* background: black; */
}

.skill span {
  text-transform: uppercase;
}

.skill-class_line {
  width: 100%;
  height: 3px;
  background: gray;
  margin: 2rem 0;
}

.skill img {
  /* background-color: gray; */
  width: 35%;
  /* background-color: black; */
}

.skill_container {
  /* background-color: red; */
  display: grid;
  width: 450px;
  gap: 3px;
  grid-template-columns: 100px 100px 100px 100px;
}

@media (max-width: 900px) {
  .skill_container {
    grid-template-columns: 100px 100px 100px;
  }
}

@media (max-width: 800px) {
  .skill_container {
    grid-template-columns: 100px 100px;
  }
}

@media (max-width: 450px) {
  .skills_wrapper {
    /* padding: 5 rem; */
    width: 450px;
  }
  .skill_container {
    width: 200px;
    grid-template-columns: 70px 70px;
    column-gap: 5px;
    /* background-color: gray; */
  }

  .skill_class {
    justify-content: center;
  }

  /* .skill img {
    width: 10px;
  } */

  .skill_class h2 {
    width: 50px;
    /* background-color: black; */
    /* background-color: blue; */
  }
}

@media (max-width: 600px) {
  .skills_wrapper {
    /* background-color: gray; */
    padding: 17rem;
    width: 600px;
  }

  .skill img {
    width: 30%;
  }
}
